body {
    background-color: #fff;

    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #02b8dd;
}

strong {
    font-weight: bold;
}

small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}

.clear {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header h1 .color {
    color: #02b8dd;
}

header nav {
    float: right;
}

header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}

header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

#hero-image {
    height: 580px;
    padding-top: 1px;
    background: #e8eced url('hero.jpg') no-repeat center;
}

#hero-image h2 {
    margin: 180px 0 40px 0;
}

.button-1 {
    display: block;
    text-align: center;
    background: #444;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}

.button-1:hover {
    background-color: #02b8dd;
    color: #fff;
}



footer {
    padding: 60px 0;
    background-color: #f8fafa;
}

#footer-info {
    width: 380px;
    float: left;
    margin-top: 10px;
}

#footer-links {
    width: 520px;
    float: right;
}

#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}

#footer-links ul li {
    margin: 10px 0;
}